<div class="toolbar text-center form-control">Instructions</div>
<ul class="list-group intruct-list">
    <li class="list-group-item">Calculations submitted will appear in the Global Calculations window</li>
    <li class="list-group-item">Enter a valid user name and connect. Valid name cannot be of size less than 4</li>
    <li class="list-group-item">Use = button to calculate the result</li>
    <li class="list-group-item">Click Send to submit your expression to the global calculations</li>
    <li class="list-group-item">clear button clears everything and Del button deletes the last character</li>
    <li class="list-group-item">You can only submit your calculation iff its not empty and valid. An expression is valid 
        if it contains =
    </li>
    <li class="list-group-item">Once you click =, you can only use Del, Send or Clear buttons</li>
    <li class="list-group-item">May contain bugs</li>
    <li class="list-group-item">Have fun !</li>
  </ul>